html,
body {
    padding: 0;
    margin: 0;
    background-color: #ed1c24;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.icon {
    padding: 20px;
    font-size: 170px;
    background-color: white;
    color: white;
}
